<!Doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- external libraries -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- css files -->
  <link href="{{url_for('static', filename='chat.css')}}" rel=" stylesheet">
  <link href="{{url_for('static', filename='avatarSpace.css')}}" rel=" stylesheet">
  <link href="{{url_for('static', filename='interactionSpace.css')}}" rel=" stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='medication.css')}}">
  <title>Chat.bot</title>
</head>

<body>
  <div class="container mt-3 shadow-lg" style="border-radius: 20px">
    <div class="row" id="title">chat.bot</div>
    <div class="row" id="topSpace">
      <div class="col-5" id="avatarSpace">
        <figure id="ball" class="ball">
          <span class="eye" id="eye1"></span>
          <span class="eye" id="eye2"></span>
        </figure>
        <figure id="shadow" class="shadow"></figure>
      </div>
      <div class="col-7" id="chatSpace"></div>
    </div>
    <div class="row">
      <div class="col-12" id="userContainer">
        <form>
          <div class="input-group">
            <input id="user" class="form-control" type="text" placeholder="Enter text here">
            <div class="input-group-append">
              <button id="submitBtn" class="btn btn-primary"> SUBMIT </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="interactionSpace">
        <h1 style = "text-align: center">Medication Sorting</h1>
        <div id="grid-container">
          <!-- Days -->
          <div class = "time"></div>
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>  
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>

          <!-- Morning -->
          <div class = "time">
              <p> Morning </p>
          </div>
          <div id = "sun1" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "mon1" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "tue1" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "wed1" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "thu1" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "fri1" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "sat1" onclick="calendar_click(this.id);">
              
          </div>

          <!-- Noon -->
          <div class = "time">
              <p> Noon </p>
          </div>
          <div id = "sun2" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "mon2" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "tue2" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "wed2" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "thu2" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "fri2" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "sat2" onclick="calendar_click(this.id);">
              
          </div>
        
          <!-- Afternoon -->
          <div class = "time">
              <p> Afternoon </p>
          </div>
          <div id = "sun3" onclick="calendar_click(this.id);">
              
          </div>  
          <div id = "mon3" onclick="calendar_click(this.id);">
              
          </div>  
          <div id = "tue3" onclick="calendar_click(this.id);">
              
          </div> 
          <div id = "wed3" onclick="calendar_click(this.id);">
              
          </div>  
          <div id = "thu3" onclick="calendar_click(this.id);">
              
          </div>  
          <div id = "fri3" onclick="calendar_click(this.id);">
              
          </div>  
          <div id = "sat3" onclick="calendar_click(this.id);">
              
          </div>  
          
          <!-- Evening -->
          <div class = "time">
              <p>Evening</p>
          </div>
          <div id = "sun4" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "mon4" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "tue4" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "wed4" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "thu4" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "fri4" onclick="calendar_click(this.id);">
              
          </div>
          <div id = "sat4" onclick="calendar_click(this.id);">
              
          </div>
      </div>
      <br>

      <div id="med-area">
          <div id = "info">
              <p>Hand:</p>
              <div id="med"></div>
          </div>
      </div> 
      </div>  
    </div>
  </div>
  <button class="toggleDebug" style="margin: 10px 0 0 35px"></button>
  <div id="debug" style="display: none">
    <button id="btnSleeping" class="btn btn-secondary">sleeping</button>
    <button id="btnThinking" class="btn btn-secondary">thinking</button>
    <button id="btnListening" class="btn btn-secondary">listening</button>
    <button id="btnSpeaking" class="btn btn-secondary">speaking</button>
    <div id="log" style="height:150px; overflow: auto;"></div>
  </div>  

  <!--external libraries-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <!-- js files -->
  <script src="{{url_for('static', filename='avatar.js')}}"></script>
  <script src="{{url_for('static', filename='chatbox.js')}}"></script>
  <script src="{{url_for('static', filename='medication.js')}}"></script>
  
  <script type="text/javascript"> 
      var events = JSON.parse('{{ events | tojson | safe }}');
      events.forEach(populate_events); 

      var medications = JSON.parse('{{ medications | tojson | safe }}');
      medications.forEach(function(medication) {
          var name = medication["name"];
          var color = medication["color"];
          var number = parseInt(medication["number"]);
          make_container(name, color, number);
      });
  </script>
  <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
</body>
</html>
