<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/medication.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="static/js/jquery-3.6.0.js"></script>
    </head>

    <body>
        <h1 style = "text-align: center">Medication Sorting</h1>
<!-- 
        <p>A Grid Container that consists of your medicine schedule</p>
         -->
        <div id="grid-container">
            <!-- Days -->
            <div class = "time"></div>
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>  
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>

            <!-- Morning -->
            <div class = "time">
                <p> Morning </p>
            </div>
            <div id = "sun1" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "mon1" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "tue1" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "wed1" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "thu1" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "fri1" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "sat1" onclick="calendar_click(this.id);">
                
            </div>

            <!-- Noon -->
            <div class = "time">
                <p> Noon </p>
            </div>
            <div id = "sun2" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "mon2" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "tue2" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "wed2" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "thu2" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "fri2" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "sat2" onclick="calendar_click(this.id);">
                
            </div>
          
            <!-- Afternoon -->
            <div class = "time">
                <p> Afternoon </p>
            </div>
            <div id = "sun3" onclick="calendar_click(this.id);">
                
            </div>  
            <div id = "mon3" onclick="calendar_click(this.id);">
                
            </div>  
            <div id = "tue3" onclick="calendar_click(this.id);">
                
            </div> 
            <div id = "wed3" onclick="calendar_click(this.id);">
                
            </div>  
            <div id = "thu3" onclick="calendar_click(this.id);">
                
            </div>  
            <div id = "fri3" onclick="calendar_click(this.id);">
                
            </div>  
            <div id = "sat3" onclick="calendar_click(this.id);">
                
            </div>  
            
            <!-- Evening -->
            <div class = "time">
                <p>Evening</p>
            </div>
            <div id = "sun4" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "mon4" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "tue4" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "wed4" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "thu4" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "fri4" onclick="calendar_click(this.id);">
                
            </div>
            <div id = "sat4" onclick="calendar_click(this.id);">
                
            </div>
        </div>
        <br>

        <div id="med-area">
            <div id = "info">
                <p>Hand:</p>
                <div id="med"></div>
            </div>
            <!-- <div  class="red_container" id = "red_container" onclick= "container_click(this.id);">
                <i class="fa fa-info-circle" id="red_instruction" onclick = "instruction(this.id);"></i>
                <div class="red_med" id="red1" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red2" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red3" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red4" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red5" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red6" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red7" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red8" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red9" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red10" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="red_med" id="red11" onclick="med_click(this.id); event.stopPropagation();"></div>
            </div>
            <div class="blue_container" id = "blue_container" onclick="container_click(this.id);">
                <i class="fa fa-info-circle" id="blue_instruction" onclick = "instruction(this.id);"></i>
                <div class="blue_med" id="blue1" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue2" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue3" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue4" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue5" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue6" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue7" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue8" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue9" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue10" onclick="med_click(this.id); event.stopPropagation();"></div>
                <div class="blue_med" id="blue11" onclick="med_click(this.id); event.stopPropagation();"></div>
            </div> -->
        </div>        

        <script type="text/javascript" src="/static/js/medication.js" ></script>
        <script type="text/javascript"> 
            var events = JSON.parse('{{ events | tojson | safe }}');
            events.forEach(populate_events); 

            var medications = JSON.parse('{{ medications | tojson | safe }}');
            medications.forEach(function(medication) {
                var name = medication["name"];
                var color = medication["color"];
                var number = parseInt(medication["number"]);
                make_container(name, color, number);
            });
        </script>
    </body>
</html>
