.everything{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "red blue";
}
#grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    padding: 10px;
    max-height: 50vh;
    margin-bottom: 50px;
  }
  
#grid-container > div {
    background-color: white;
    border: 0.5px solid skyblue;
    text-align: center;
    font-size: 25px;
    height: 90%;
    padding-bottom: 10px;
}

#grid-container > div > span {
    /* font-size: 30px; */
    display: block;
    width: 100%;
}

#grid-container > div > div {
    margin-top: 2px;
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
    /* float: left; */
    width: 30px;
    height: 10px;
  }

.time > p{
    font-size: 15px;
}

.container {
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 10px;
}

.time{
    width: 100%;
    border: 2px;
    font-size: 10px;
}

.red {
    width: 30%;
    height: 100px;
    float: left;
    background: red;
    margin-left: 20%;
    font-size: 50px;
    text-align: center;

}
.blue {
    width: 30%;
    height: 100px;
    float: left;
    background: blue;
    margin-right: 20%;
    font-size: 50px;
    text-align: center;
}
/* .left {
    width: 50%;
    height: 20%;
    float: left;
    text-align: center;
    color: red;
}
.right {
    margin-left: 50%;
    height: 20%;
    text-align: center;
    color: blue;
} */

.red_medicine{
    flex: 1;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto auto; 
    grid-gap: 15px;
    float: left;
    width: 200px;
    height: 250px;
    text-align: center;
    color: red;
    margin-left: 16%;
    padding: 10px;
    padding-top: 20px;
    border-radius: 25px;
    border: 2px solid red;
}

.red_pill {
    background-color: red;
    height: 20px;
    width: 50px;
    border-radius: 25%/50%;
}

.blue_medicine{
    flex: 1;
    float: right;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto; 
    width: 200px;
    height: 250px;
    text-align: center;
    color: blue;
    margin-right: 20%;
    padding: 10px;
    padding-top: 20px;
    border-radius: 25px;
    border: 2px solid blue;
}

.blue_pill {
    background-color: blue;
    height: 20px;
    width: 50px;
    border-radius: 25%/50%;
}

#info {
    flex: 1;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    /* background-color: orange; */
    text-align: center;
  }

#pill-area {
    display: flex;
}

#pill {
    display: inline-block;
}
