<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/medication.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="static/js/jquery-3.6.0.js"></script>
    </head>

    <body>

        <h1 style = "text-align: center">Medication Sorting</h1>
<!-- 
        <p>A Grid Container that consists of your medicine schedule</p>
         -->
        <div id="grid-container">
            <!-- Days -->
            <div class = "time"></div>
            <div>Sun</div>
            <div>Mon</div>
            <div>Tue</div>
            <div>Wed</div>  
            <div>Thu</div>
            <div>Fri</div>
            <div>Sat</div>

            <!-- Morning -->
            <div class = "time">
                <p> Morning </p>
            </div>
            <div id = "Sun-M" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Mon-M" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Tue-M" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Wed-M" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Thu-M" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Fri-M" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Sat-M" onClick="calendar_click(this.id)">
                
            </div>

            <!-- Noon -->
            <div class = "time">
                <p> Noon </p>
            </div>
            <div id = "Sun-N" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Mon-N" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Tue-N" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Wed-N" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Thu-N" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Fri-N" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Sat-N" onClick="calendar_click(this.id)">
                
            </div>
          
            <!-- Afternoon -->
            <div class = "time">
                <p> Afternoon </p>
            </div>
            <div id = "Sun-A" onClick="calendar_click(this.id)">
                
            </div>  
            <div id = "Mon-A" onClick="calendar_click(this.id)">
                
            </div>  
            <div id = "Tue-A" onClick="calendar_click(this.id)">
                
            </div> 
            <div id = "Wed-A" onClick="calendar_click(this.id)">
                
            </div>  
            <div id = "Thu-A" onClick="calendar_click(this.id)">
                
            </div>  
            <div id = "Fri-A" onClick="calendar_click(this.id)">
                
            </div>  
            <div id = "Sat-A" onClick="calendar_click(this.id)">
                
            </div>  
            
            <!-- Evening -->
            <div class = "time">
                <p>Evening</p>
            </div>
            <div id = "Sun-E" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Mon-E" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Tue-E" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Wed-E" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Thu-E" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Fri-E" onClick="calendar_click(this.id)">
                
            </div>
            <div id = "Sat-E" onClick="calendar_click(this.id)">
                
            </div>
        </div>
        <br>

        <div id="pill-area">
            <div  class="red_medicine" id = "red_bottle" onClick= "red_medicine_click()">
                <i class="fa fa-info-circle" onClick = "red_instruction()"></i>
                <div class="red_pill" id="red1" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red2" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red3" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red4" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red5" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red6" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red7" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red8" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red9" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red10" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="red_pill" id="red11" onclick="pill_click(this.id); event.stopPropagation();"></div>
            </div>
            <div id = "info">
                <p>Hand:</p>
                <div id="pill"></div>
            </div>
            <div class="blue_medicine" id = "blue_bottle" onClick="blue_medicine_click()">
                <i class="fa fa-info-circle" onClick = "blue_instruction()"></i>
                <div class="blue_pill" id="blue1" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue2" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue3" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue4" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue5" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue6" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue7" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue8" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue9" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue10" onclick="pill_click(this.id); event.stopPropagation();"></div>
                <div class="blue_pill" id="blue11" onclick="pill_click(this.id); event.stopPropagation();"></div>
            </div>
        </div>        

        
       
        <!-- <p>Hand: </p>
        <div class = "container">   
            <div class = "left">Red Bottle:</div>
            <div class = "right"> Value</div>        
        </div> -->

        <script type="text/javascript" src="/static/js/medication.js" ></script>
        <script type="text/javascript"> 
            var events = JSON.parse('{{ events | tojson | safe }}');
            events.forEach(populate_events); 
        </script>
    </body>
</html>
